acora==2.2
adblockparser==0.7
AdvancedHTTPServer==2.2.0
aiocmd==0.1.2
aiodns==2.0.0
aiohttp==3.6.2
aiohttp-socks==0.3.9
aiorpcX==0.18.4
aiowinreg==0.0.3
ajpy==0.0.4
alembic==1.4.2
aniso8601==8.0.0
apispec==3.3.1
apispec-webframeworks==0.5.2
appdirs==1.4.4
argcomplete==1.10.0
arrow==0.15.7
artifacts==20190320
asciitree==0.3.3
asn1crypto==1.4.0
async-timeout==3.0.1
asysocks==0.0.2
attrs==19.3.0
autobahn==17.10.1
Automat==20.2.0
Babel==2.8.0
backcall==0.2.0
bcrypt==3.1.7
beautifulsoup4==4.9.1
bitstring==3.1.5
blinker==1.4
boltons==19.1.0
bottle==0.12.15
Brotli==1.0.7
bs4==0.0.1
cairocffi==0.9.0
capstone==3.0.5
cbor==1.0.0
Cerberus==1.3.2
certifi==2020.4.5.1
cffi==1.14.1
Chameleon==3.6.2
chardet==3.0.4
CherryPy==8.9.1
Click==7.0
click-plugins==1.1.1
colorama==0.4.3
colorclass==2.2.0
configobj==5.0.6
constantly==15.1.0
crackmapexec==5.1.1
crcelk==1.3
dbus-python==1.2.16
decorator==4.4.2
defusedxml==0.6.0
deprecation==2.0.7
Django==2.2.15
dnslib==0.9.14
packaging==20.4
pafy==0.5.5
PySocks==1.6.8
pyTelegramBotAPI==3.7.6
requests==2.20.0
requests-file==1.5.1
requests-ntlm==1.1.0
retrying==1.3.3
roguehostapd==1.1.2
Routes==2.4.1
rq==1.4.0
rtlsdr-scanner==1.3.2
ruamel.yaml==0.16.10
ruamel.yaml.clib==0.2.0
rule-engine==1.1.0
Rx==1.6.1
scapy==2.4.3
scipy==1.4.1
secure==0.2.1
selenium==4.0.0a1
specan==0.0.0
SQLAlchemy==1.3.18
sqlalchemy-schemadisplay==1.3
sqlparse==0.3.1
sslyze==3.0.8
stem==1.7.1
syslog-rfc5424-formatter==1.2.2
telebot
traitlets==4.3.3
translationstring==1.4
Twisted==18.9.0
txaio==20.4.1
typing-extensions==3.7.4.2
tzlocal==2.1b1
u-msgpack-python==2.3.0
ufw==0.36
unattended-upgrades==0.1
unicodecsv==0.14.1
Unidecode==1.1.1
urllib3==1.24.3
urwid==2.1.0
user-agent==0.1.9
vboxapi==1.0
venusian==3.0.0
vinetto==0.8.0
virtualenv==20.4.2
visvis==1.11.1
wafw00f==2.1.0
waitress==1.4.1
wapiti3==3.0.3
wcwidth==0.1.9
webargs==6.1.0
webencodings==0.5.1
WebOb==1.8.6
websocket-client==0.57.0
websploit==4.0.4
WebTest==2.0.34
Werkzeug==1.0.0
wfuzz==2.4.5
whois==0.8
wifiphisher==1.4
wifite==2.5.5
winacl==0.0.2
wsaccel==0.6.2
wsproto==0.15.0
WTForms==2.2.1
wxPython==4.0.7
logging
ssl
